*,::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../img/kalt.jpg);
    background-clip: content-box;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    width: 1350px;
    height: 900px;
    margin: 5px;

}
.header {
    background-color: transparent;
    background-position: center top;
    width: 1300px;
    height: 150px;
    /* border: 2px solid black; */
}
.nav {
    /* background-color: black; */
    width: 1300px;
    height: 80px;
    box-shadow: 2px 2px 1px -3px black;
    /* border: 2px solid black; */
}
.nav ul {
   display: inline-flex;
}
.nav ul a  {
    text-decoration: none;
    color: white;
    padding: 20px;   
    position: center;
    font-weight: 600;
    font-size: 2em;
    line-height: 40px;
    transition: ease-in;
    font-family: Arial, Helvetica, sans-serif;
 }